<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- // icon de retour  -->
    <div class="icon_retour" routerLink="/accueil">
      <i class="ri-arrow-left-s-line"></i>
    </div>

    <!-- titre de suivi medicament  -->
    <div class="TitreSuiviMedicament">
      <h3>Mes animal</h3>
    </div>

    <div class="vide">

    </div>
  
  </div>

  <!-- // bare de recherche  -->
  <div class="bareRecherche">
    <!-- // recherche  -->
    <div class="recherche">
      <!-- // input  search  -->
      <i class="ri-search-line icon_search"></i>
      <input type="text" class="search" placeholder="Recherche un animal">
    </div>

    <!-- ////////// icon de ajoute  -->

    <div class="icon_ajoute" routerLink="/ajouter-animal">
      <i class="ri-add-fill"></i>
    </div>


  </div>

  <!-- // bare ligne  -->
  <!-- <div class="bare_ligne">
    
    <div class="ligne">

    </div>
  </div> -->

</ion-header>


<ion-content>

  <!-- // Suivre la sante de son animal  -->
  <div class="container_suivi_sante">
    <!-- // content 1 -->
    <div class="content_suivi">
      <!-- // container de category d'animal  -->
      <div class="category_container">

        <!-- // image_cadre -->
        <div class="category_cadre">
          <img src="../../../assets/dog.jpg" alt="">
        </div>

        <!-- // information de cadre  -->
        <div class="information_cadre">
          <!-- // titre  -->
          <h3 class="title_dog">
            Raven
          </h3>

          <!-- // age  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Age : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              5 ans
            </p>
          </div>

          <!-- // breed  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Categorie : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              Chien
            </p>
          </div>
          <!-- // cadre detaille  -->
          <div class="icon_detaille"  routerLink="/detail-suivi-animal">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>

      </div>
    </div>
    <!-- // content 2 -->
    <div class="content_suivi">
      <!-- // container de category d'animal  -->
      <div class="category_container">

        <!-- // image_cadre -->
        <div class="category_cadre">
          <img src="../../../assets/dog.jpg" alt="">
        </div>

        <!-- // information de cadre  -->
        <div class="information_cadre">
          <!-- // titre  -->
          <h3 class="title_dog">
            Chiot
          </h3>

          <!-- // age  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Age : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              2 ans
            </p>
          </div>

          <!-- // breed  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Categorie : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              Chien
            </p>
          </div>
          <!-- // cadre detaille  -->
          <div class="icon_detaille"  routerLink="/detail-suivi-animal">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>

      </div>
    </div>
    <!-- // content 3 -->
    <div class="content_suivi">
      <!-- // container de category d'animal  -->
      <div class="category_container">

        <!-- // image_cadre -->
        <div class="category_cadre">
          <img src="../../../assets/dog.jpg" alt="">
        </div>

        <!-- // information de cadre  -->
        <div class="information_cadre">
          <!-- // titre  -->
          <h3 class="title_dog">
            Oscar
          </h3>

          <!-- // age  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Age : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              1 ans
            </p>
          </div>

          <!-- // breed  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Categorie : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              Chien
            </p>
          </div>
          <!-- // cadre detaille  -->
          <div class="icon_detaille"  routerLink="/detail-suivi-animal">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>

      </div>
    </div>
    <!-- // content 4 -->
    <div class="content_suivi">
      <!-- // container de category d'animal  -->
      <div class="category_container">

        <!-- // image_cadre -->
        <div class="category_cadre">
          <img src="../../../assets/dog.jpg" alt="">
        </div>

        <!-- // information de cadre  -->
        <div class="information_cadre">
          <!-- // titre  -->
          <h3 class="title_dog">
            Dligue
          </h3>

          <!-- // age  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Age : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              7 ans
            </p>
          </div>

          <!-- // breed  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Categorie : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              Chien
            </p>
          </div>
          <!-- // cadre detaille  -->
          <div class="icon_detaille"  routerLink="/detail-suivi-animal">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>

      </div>
    </div>
    <!-- // content 5 -->
    <div class="content_suivi">
      <!-- // container de category d'animal  -->
      <div class="category_container">

        <!-- // image_cadre -->
        <div class="category_cadre">
          <img src="../../../assets/dog.jpg" alt="">
        </div>

        <!-- // information de cadre  -->
        <div class="information_cadre">
          <!-- // titre  -->
          <h3 class="title_dog">
            Jerry
          </h3>

          <!-- // age  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Age : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              3 ans
            </p>
          </div>

          <!-- // breed  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Categorie : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              Chien
            </p>
          </div>
          <!-- // cadre detaille  -->
          <div class="icon_detaille"  routerLink="/detail-suivi-animal">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>

      </div>
    </div>
    <!-- // content 6 -->
    <div class="content_suivi">
      <!-- // container de category d'animal  -->
      <div class="category_container">

        <!-- // image_cadre -->
        <div class="category_cadre">
          <img src="../../../assets/dog.jpg" alt="">
        </div>

        <!-- // information de cadre  -->
        <div class="information_cadre">
          <!-- // titre  -->
          <h3 class="title_dog">
            Okay
          </h3>

          <!-- // age  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Age : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              4 ans
            </p>
          </div>

          <!-- // breed  -->
          <div class="para_info_name">
            <!-- // name age  -->
            <p class="titre_name">
              Categorie : 
            </p>
            <!-- // age  -->
            <p class="name_information">
              Chien
            </p>
          </div>
          <!-- // cadre detaille  -->
          <div class="icon_detaille"  routerLink="/detail-suivi-animal">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>

      </div>
    </div>
  </div>


</ion-content>