<div class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>


    <!-- // hearder  -->
    <div class="hearder">

      <!-- // annulation  -->
      <div class="annuler_retour" routerLink="/tabs-v/home-veterinaire">
        <h3> Annuler </h3>
      </div>

      <!-- // titre ajouter un rappel  -->
      <div class="titre_ajouter_rappel">
        <h3>Ajout.. planning</h3>
      </div>

      

      <!-- // Fin de hearder  -->
    </div>

<!-- <ion-content> -->
 
  
        <!-- ///////////////////// LEs planing espace Debut  -->


        <!-- // container de planing  -->
        <div class="container_planing">
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_margin" >

            <!-- // name et Modification  -->
            <div class="planing_jour">
              <p>
                Jours
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite">
              <p>
                disponibilité
              </p>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Lundi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                De
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
              <p style="padding-left: 5px;">
                à
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Mardi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                De
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
              <p style="padding-left: 5px;">
                à
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Mercredi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                De
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
              <p style="padding-left: 5px;">
                à
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Jeudi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                De
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
              <p style="padding-left: 5px;">
                à
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Vendredi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                De
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
              <p style="padding-left: 5px;">
                à
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Samedi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                De
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
              <p style="padding-left: 5px;">
                à
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Dimanche
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                De
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
              <p style="padding-left: 5px;">
                à
              </p>
              <div class="dateDebut">
                <input type="time" class="date_time">
              </div>
            </div>

          </div>

        </div>



        <!-- ///////////////////// LEs planing espace Fin  -->

  
<!-- </ion-content> -->


</div>