.font_hearder {
    background-color: #F2F6FA;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.089);
}

.ecran .ecran_vue {
    width: 100%;
    height: 40px;
}


.hearder {
    width: 100%;
    height: 50px;
    background-color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_retour {
    font-size: 30px;
    margin-left: 10px;
}

////////////////// Fin de header
/// 


.information_detail_animal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image_animal {
    width: 330px;
    height: 330px;
}

.image_animal img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 0px rgba(0, 128, 0, 0.13);
}

.bare {
    margin-top: 10px;
}

.ligne {
    width: 100px;
    height: 1px;
    background-color: #008000;
    text-align: center;
}

//////////////////// Un petit bare 
/// 
/// 

.bare {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ligne {
    border-bottom: 1px solid #000;
    margin-top: 2px;
}

///////////////////// Detaille global 
/// 
/// 



.titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.nom_en_question {
    padding-left: 7px;
    color: #008000;
    font-weight: 600;
    letter-spacing: 0.60px;
}

.nom_animal h2{
    font-size: 20px;
    color: #000;
    letter-spacing: 0.60px;
    font-weight: 500;
}

.detaille_global {
    margin: 10px 20px;
}

.info_animal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #0000002d;
}

.name_titre p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.60px;
    color: #000;
}

.name {
    text-align: left;
}

.name p {
    font-size: 17px;
    letter-spacing: 0.60px;
    font-weight: 500;
}

//////////////////////
/// 
/// Description 

.description {
    margin-top: 10px;
    letter-spacing: 0.60px;
    font-weight: 500;
}

.paragraphe {
    width: 80%;
}

.paragraphe p {
    font-size: 19px;
}

//////////// style et action 
/// 

.container_action {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.icon_modifier i,
.icon_supprimer i 
{
    font-size: 25px;
    border-radius: 10px;
    padding: 8px;
}

.icon_modifier i {
    background-color: #008000;
    color: #fff;
}

.icon_supprimer i {
    background-color: #ff0000;
    color: #fff;
}

.icon_supprimer {
    margin-left: 15px;
}

.ense {
    display: flex;
    align-items: center;
}



////////////////////////
/// 

.confirm-button {
    color: green !important; /* Style pour le bouton Annuler */
  }
  
  .delete-button {
    color: red !important; /* Style pour le bouton Supprimer */
  }
