<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- <div class="icon_retour" routerLink="/section-choix">
      <i class="ri-arrow-left-s-line"></i>
    </div> -->

    <div class="icon_retour" routerLink="/profil-detaille">
      <i class="ri-arrow-left-s-line"></i>

      <div class="nom_retour">
        <p>Profil</p>
      </div>
    </div>

    

    <!-- // deconnexion  -->
    <div class="cadre_nom">
      <p>Modification</p>
    </div>


    <div class="save" style="padding-right: 10px;" (click)="onSubmit()">
      <p style="color: #008000; letter-spacing: 0.50px; font-size: 18px;" >
        Enregistrer
      </p>
    </div>
    
  </div>


  <!-- /////////////////////////// -->


  
  <div class="container_cadre_profil">

    <div class="cadre_profil">

      <div class="image_profil">
        <img alt="" [src]="selectedFileDataUrl" [src]="veteconnect.imagePRO">

        <label class="camera-icon" for="photoInput">
          <i class="ri-camera-3-line"></i>
        </label>
      </div>

      

      <div class="ajoute_photo">
        <div class="tof">
          <input type="file" accept="image/*" capture="environment" id="photoInput" style="display: none;" name="photo" (change)="handleFileInput($event)">
        </div>
      </div>

    </div>
  </div>


  <!-- /////////////////////////////////////// -->

  
  <!-- //////////// Les information  -->

  <div class="nom_apropos">
    <h4 class="h4_mon_apropos"> A propos de moi </h4>
  </div>

</ion-header>

<ion-content class="container_global_content">
  <div class="container_global">
  
    <div class="content_text">
  
      <!-- /////////////////////////////////////// -->
  
      <div class="container_blanc">
        <form class="cadre_blanc_container">
          <div class="div">
          <!-- // nom  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Nom </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.nom" [value]="veteconnect.nom" name="nom" type="text" placeholder="SY">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
  
           <!-- <pre> {{veteconnect | json}} </pre> -->
          
          <!-- // prenom  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Prénom </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.prenom" [value]="veteconnect.prenom" name="prenom" type="text" placeholder="diakaridia">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // email  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title h3_email"> Email </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.email" [value]="veteconnect.email" name="email" type="text" class="email" placeholder="votre email">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Diplôme ou Certificat </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.diplomeOuCertificat" [value]="veteconnect.diplomeOuCertificat" name="diplomeOuCertificat" type="text" placeholder="Certificat ou diplôme">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // sexe  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Domaine spécialisation </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.domaineSpecialisation" [value]="veteconnect.domaineSpecialisation" name="domaineSpecialisation" type="text" placeholder="domaine">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <!-- <div class="information_perso">
            
            <div class="title_info">
              <h3 class="h3_title"> Mon CV </h3>         
            </div>

            <div class="eye">
              <input type="file" id="fille" name="fille" style="display: none;">
              <label for="fille" class="filee">
                modifier
              </label>
            </div>
          </div> -->
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Numéro </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.numero" [value]="veteconnect.numero" name="numero" type="number" class="numero" placeholder="78888888">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Jours</h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.jours" [value]="veteconnect.jours" name="jours" type="text" class="numero" placeholder="Jours">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Mois </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.mois" [value]="veteconnect.mois" name="mois" type="text" class="numero" placeholder="Mois">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Année </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.annee" [value]="veteconnect.annee" name="annee" type="text" class="numero" placeholder="Année">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Genre </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.genre" [value]="veteconnect.genre" name="genre" type="text" class="numero" placeholder="Homme">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Année d'expérience </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.anneeExperience" [value]="veteconnect.anneeExperience" name="anneeExperience" type="text" class="numero" placeholder="2 ans">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Langue parler </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.langueParler" [value]="veteconnect.langueParler" name="langueParler" type="text" class="numero" placeholder="Français">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Pays </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.pays" [value]="veteconnect.pays" name="pays" type="text" class="numero" placeholder="Mali">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Quartier </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.quartier" [value]="veteconnect.quartier" name="quartier" type="text" class="numero" placeholder="Boulkassoumbougou">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Rue </h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.rue" [value]="veteconnect.rue" name="rue" type="number" class="numero" placeholder="123">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
          
          <!-- // numero  -->
          <div class="information_perso">
            <!-- .. div de h3  -->
            <div class="title_info">
              <h3 class="h3_title"> Code postal</h3>         
            </div>
            <!-- .div de input  -->
            <div class="input_info">
              <input [(ngModel)]="veteconnect.codePostal" [value]="veteconnect.codePostal" name="codePostal" type="number" class="numero" placeholder="65768">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
  
        </div>
        </form>
      </div>
      
      
    </div>
  </div>
  </ion-content>
<!-- 
<ion-footer class="font_footer">
  <div class="footer_content">
    
    <div class="accueil">
      <i class="ri-home-line"></i>
      <div class="nom_icon">
        <p> Accueil </p>
      </div>
    </div>
    
    <div class="accueil">
      <i class="ri-notification-2-line"></i>
      <div class="nom_icon">
        <p> Notification </p>
      </div>
    </div>
    
    <div class="accueil accueil2">
      <i class="ri-wechat-line"></i>
      <div class="nom_icon">
        <p> Message </p>
      </div>
    </div>
    
    <div class="accueil">
      <i class="ri-user-line"></i>
      <div class="nom_icon">
        <p> Profil </p>
      </div>
    </div>

  </div>
</ion-footer> -->