<div class="container_global">

  <div class="content">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <div class="icon_retour" routerLink="/detail-animal-sante">
        <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="titre_inscription">
        <h3>Modification de nom</h3>
      </div>

      <div class="vide">

      </div>
    </div>

    <!-- Image  -->

    <div class="image_logo">
      <div class="logo">
        <img src="../../../../assets/LOGO2.png" alt="mon logo">
      </div>
    </div>

  </div>

  <!-- /////////////////////////////////////////////////////////  FORMULAIRE -->

  <aside class="formulaire">

    <form class="container_formulaire">

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Information de modification</h4>
        </div>

        <!-- input de nom d'animal  -->
        <div class="champ_input">
          <input type="text" class="input_focus"  id="nom" placeholder="Saisir le nom d'animal" autocomplete="on" required>
          <label for="nom" class="label">Nom d'animal</label>
        </div>

        <!-- button envoie  -->

        <!-- le button de submit  -->
        <div class="btn_submit_global" routerLink="/detail-animal-sante">
          <button type="submit" class="btn_submit"> Modifier</button>
        </div>



      </div>

    </form>

  </aside>

</div>
