
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <div class="icon_content">
        <i class="ri-home-line"></i>
      </div>
      Accueil
    </ion-tab-button>

    <ion-tab-button tab="" >
      <div class="icon_content">
        <i class="ri-notification-line"></i>
      </div>
      Notification
    </ion-tab-button>

    <ion-tab-button tab="discussion-user-vete" href="/tabs/utilisateur_veterinaire/discussion-user-vete">
      <div class="icon_content">
        <i class="ri-wechat-line message_icon"></i>
      </div>
      Message
    </ion-tab-button>

    <ion-tab-button tab="profil-user" href="/tabs/utilisateur/profil-user">
      <div class="icon_content">
        <i class="ri-user-line"></i>
      </div>
      Profil
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>