
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home-veterinaire" href="/tabs-v/veterinaire/home-veterinaire">
      <div class="icon_content">
        <i class="ri-home-line"></i>
      </div>
      Accueil
    </ion-tab-button>

    <ion-tab-button tab="" >
      <div class="icon_content">
        <i class="ri-notification-line"></i>
      </div>
      Notification
    </ion-tab-button>

    <ion-tab-button tab="discussion-user-vete" href="/tabs-v/utilisateur_veterinaire/discussion-user-vete">
      <div class="icon_content">
        <i class="ri-wechat-line message_icon"></i>
      </div>
      Message
    </ion-tab-button>

    <ion-tab-button tab="profil-principal" href="/tabs-v/veterinaire/profil-principal">
      <div class="icon_content">
        <i class="ri-user-line"></i>
      </div>
      Profil Vete
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>