
<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- <div class="icon_retour" routerLink="/section-choix">
      <i class="ri-arrow-left-s-line"></i>
    </div> -->

    <div class="icon_retour" routerLink="/mes-rdv">
      <i class="ri-arrow-left-s-line"></i>

      <div class="nom_retour">
        <p> Détaille RDV </p>
      </div>
    </div>


    <div class="detaille_rdv" routerLink="/modifier-rdv/{{rdvconnect.rdvId}}">
      <p>
        Modifier
      </p>
    </div>
    
  </div>


<!-- // les verinaire qui est choisis  -->

<div class="container_veterinaire">

  <!-- // content veterinaire  -->
  <div class="veterinaire">

    <div class="name_veterinaire">
      <p>
        Vétérinaire
      </p>
    </div>

    <div class="info_vete" *ngIf="veteconnect">

      <div class="image_vete">
        <img [src]="veteconnect.imagePRO" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            {{veteconnect.nom}}
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            {{veteconnect.diplomeOuCertificat}}
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            {{veteconnect.pays}}
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

</div>

</ion-header>

<!-- //////////////////////////////////////////////////  -->

<ion-content>

  <aside class="formulaire">

    <form class="container_formulaire" >

      

      <div class="formulaire" *ngIf="rdvconnect">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Information personnelle</h4>
        </div>

        <!-- input de votre acte de naissance  -->


        <div class="acte_container">

          <div class="champ_input2">

            <!-- input de votre numero  -->
            <div class="champ_input">
              <input [(ngModel)]="rdvconnect.nom" disabled name="nom" id="nom" type="text" class="input_focus2" placeholder="Saisir votre nom" autocomplete="on" required>
              <label for="nom" class="label">Votre Nom</label>
            </div>

             <!-- input de votre numero  -->
             <div class="champ_input">
              <input [(ngModel)]="rdvconnect.prenom" disabled name="prenom" type="text" class="input_focus2 input_focus3"  id="prenom" placeholder="Saisir votre preénom" autocomplete="on" required>
              <label for="prenom" class="label">Votre Prénom</label>
            </div>

          </div>

        </div>



        <!-- input de votre pays  -->
        <div class="champ_input">
          <input [(ngModel)]="rdvconnect.adresse" disabled name="adresse" type="text" class="input_focus"  id="adresse" placeholder="Saisir votre adresse" autocomplete="on" required>
          <label for="adresse" class="label">Votre Adresse</label>
        </div>

        <!-- input de votre quartier  -->
        <div class="champ_input" style="margin-top: -10px;">
          <input [(ngModel)]="rdvconnect.numero" disabled name="numero" type="number" class="input_focus"  id="numero" placeholder="Saisir votre numéro" autocomplete="on" required>
          <label for="numero" class="label">Votre numéro</label>
        </div>

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Information Animal</h4>
        </div>

        <!-- //////////// information animal  -->

        <div class="acte_container">

          <div class="champ_input2">

            <!-- input de votre numero  -->
            <div class="champ_input">
              <input [(ngModel)]="rdvconnect.especeAnimal" disabled name="especeAnimal" type="text" class="input_focus2"  id="especeAnimal" placeholder="Espèce de animal" autocomplete="on" required>
              <label for="especeAnimal" class="label">Espèce animal</label>
            </div>

             <!-- input de votre numero  -->
             <div class="champ_input">
              <input [(ngModel)]="rdvconnect.ageAnimal" disabled name="ageAnimal" type="text" class="input_focus2 input_focus3"  id="ageAnimal" placeholder="L'age de animal" autocomplete="on" required>
              <label for="ageAnimal" class="label">Age animal</label>
            </div>

          </div>

        </div>

        <div class="acte_container">

          <div class="titre_date" style="margin-top: 10px;">
            <p style="font-size: 18px; font-weight: 500; letter-spacing: 0.60px;">
              Date de Rdv
            </p>
          </div>

          <div class="champ_input_v">

            <div class="champ_input">
              <input [(ngModel)]="rdvconnect.jour" disabled name="jour" id="jours" type="text" class=" input_focus_c" placeholder="ex: 10" autocomplete="on" required>
              <label for="jours" class="label">Jours</label>
            </div>
              
            <div class="champ_input">
              <input [(ngModel)]="rdvconnect.mois" disabled name="mois" id="mois" type="text" class=" input_focus_c" placeholder="ex: Janvier" autocomplete="on" required>
              <label for="mois" class="label">Mois</label>
            </div>
              
            <div class="champ_input">
              <input [(ngModel)]="rdvconnect.annee" disabled name="annee" id="annee" name="annee" type="text" class=" input_focus_c"  placeholder="ex: 1999" autocomplete="on" required>
              <label for="annee" class="label">année</label>
            </div>

          </div>

        </div>

        

        <!-- ////////// Information animal 2  -->

        <div class="acte_container">

          <div class="champ_input">
             <!-- input de votre numero  -->
             <!-- <div class="champ_input">
              <input type="text" class="input_focus2 input_focus3"  id="postal" placeholder="Sexe animal" autocomplete="on" required>
              <label for="postal" class="label">Sexe animal</label>
            </div> -->

            <select [(ngModel)]="rdvconnect.priorite" disabled name="priorite" name="priorite" class="input_focus">
              <option value="">Sexe Animal</option>
              <option value="homme">Homme</option>
              <option value="femme">Femme</option>
            </select>

          </div>

        </div>

        
        <!-- input de votre pays  -->
        <div class="champ_input">
          <input [(ngModel)]="rdvconnect.nonMaladie" disabled name="nonMaladie" type="text" class="input_focus"  id="nonMaladie" placeholder="C'est quoi le maladie de votre animal" autocomplete="on" required>
          <label for="nonMaladie" class="label">Maladie de Animal</label>
        </div>


        <!-- //////////////// DESCRIPTION  -->

        

        <!-- input de votre quartier  -->
        <!-- <div class="champ_input" style="margin-top: -10px;">
          <textarea type="text" class="input_focus"  id="quartier" placeholder="Saisir votre numéro" autocomplete="on" required></textarea>
          <label for="quartier" class="label">Votre numéro</label>
        </div> -->

        <div class="champ_input" style="margin-top: 0px;">
          <textarea [(ngModel)]="rdvconnect.description" disabled name="description" id="description" class="input_focus5" placeholder="Saisir une description de maladie de votre animal..." autocomplete="on" required></textarea>
          <label for="description" class="label">Description</label>
        </div>


      </div>

    </form>

  </aside>

</ion-content>