<div class="container_global">

  <div class="content">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <div class="icon_retour" routerLink="/inscription-utilisateur">
        <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="titre_inscription">
        <h3>Réjoignez VetCare</h3>
      </div>

      <div class="vide">

      </div>
    </div>


    <div class="container_global_input">
      <div class="titre_image" style="text-align: center;">
        <p style="color: #000; letter-spacing: 0.60px; font-size: 20px; margin-top: 20px;">Ajouter Image</p>
      </div>

      <!-- Image qui sera a droit de notre formulaire -->
      <div class="image_input">
        <!-- Afficher l'image sélectionnée -->
        <div class="image_user">
          <div class="roudel_img" >
            <img class="immmmmgggg" [src]="selectedFileDataUrl">

            <label class="camera-icon" for="photoInput">
              <i class="ri-camera-3-line"></i>
            </label>
          </div>


        </div>
        <!-- // Clien pour ajouter une photo  -->

        <div class="ajoute_photo">
          <div class="tof">
            <input type="file" accept="image/*" capture="environment" id="photoInput" style="display: none;" name="photo" (change)="handleFileInput($event)">
          </div>
        </div>

      </div>
    </div>
 

  <!-- /////////////////////////////////////////////////////////  FORMULAIRE -->

  <aside class="formulaire">

    <form class="container_formulaire" >

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Information personnel</h4>
        </div>

        <div class="champ_input2">

          <!-- input de votre pays  -->
          <div class="champ_input">
            <input type="text" class="input_focus2"  [(ngModel)]="numero"  name="numero" id="num_user" name="numero" placeholder="Saisir votre numero" autocomplete="on" required>
            <label for="num_user" class="label">Numéro</label>
          </div>

          <!-- input de votre quartier  -->
          <div class="champ_input">
            <input type="text" class="input_focus2"  [(ngModel)]="genre"  name="genre" name="genre" id="genre_user" placeholder="Saisir votre genre" autocomplete="on" required>
            <label for="genre_user" class="label">Votre genre</label>
          </div>

        </div>

        
        <!-- input de votre acte de naissance  -->

        <div class="champ_input">
          <input type="text" class="input_focus"  [(ngModel)]="dateNaissance"  name="dateNaissance" name="dateNaissance" id="dateNaissance" placeholder="12/12/2000" autocomplete="off" required>
          <label for="dateNaissance" class="label">Votre Date de naissance</label>
        </div>

        <!-- input de votre acte de naissance  -->
 
        <div class="champ_input">
         <input type="text" class="input_focus" [(ngModel)]="quartier"  name="quartier" name="quartier" id="quartier" placeholder="Boulkassoumbougou" autocomplete="off" required>
         <label for="quartier" class="label">Votre quartier</label>
       </div>


       <!-- input de votre acte de naissance  -->

       <div class="champ_input">
        <input type="text" class="input_focus" [(ngModel)]="description"  name="description"  name="description" id="description" placeholder="une petite description" autocomplete="off" required>
        <label for="description" class="label">Votre description</label>
      </div>
 
      
        <!-- input de votre acte de naissance  -->
      


        <!-- button envoie  -->

        <!-- le button de submit  -->
        <div class="btn_submit_global">
          <button type="button" (click)="onSubmit()"  class="btn_submit"> S'inscrire </button>
        </div>



        <!-- //////////////// Ligne et ou et ligne -->

        <div class="ligne_ou">

          <!-- // ma ligne un -->

          <div class="bare ligne1">

          </div>

          <!-- // mon or  -->

          <div class="ou">
            <p class="or">or</p>
          </div>

          <!-- // la ligne deux -->

          <div class="bare ligne2">

          </div>

        </div>


        <!-- ///////////////////////////////// TEXT de verification -->


        <div class="compte_quiz">
          <p>Vous avez déja un compte ?</p>
          <div class="con" routerLink="/connexion">
            <p class="seConnecter">Connectez-vous</p>
          </div>
        </div>



      </div>

    </form>

  </aside>

</div>
