<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- // icon de retour  -->
    <div class="icon_retour" routerLink="/tabs/accueil">
      <i class="ri-arrow-left-s-line"></i>
    </div>

    <!-- titre de suivi medicament  -->
    <div class="TitreSuiviMedicament">
      <h3>Suivi Médicament</h3>
    </div>

    <div class="vide">

    </div>
  
  </div>

  <!-- // bare de recherche  -->
  <div class="bareRecherche">
    <!-- // recherche  -->
    <div class="recherche">
      <!-- // input  search  -->
      <i class="ri-search-line icon_search"></i>
      <input type="text" class="search" placeholder="Recherche un médicament">
    </div>
  </div>

  <!-- // bare ligne  -->
  <div class="bare_ligne">
    <!-- // ligne  -->
    <div class="ligne">

    </div>
  </div>
</ion-header>

<ion-content>
<div class="container_global">

  <div class="content" *ngFor="let affichemedi of listeMedicaments">


    <!-- // Cadre de suivo medicament  -->

    <!-- ||||||||||||| Cadre 1 -->

    <div class="cadre_container">

      <div class="cadre_content">

        <div class="image_suivi_medicament">
          <img src="../../../assets/medi.jpg" alt="image de medicament">
        </div>

        <div class="info_suivi_medi">
          
          <!-- // Date de debut et date de fin  -->
          <div class="dateDebutFin">
            <p class="Ddebut"> {{affichemedi.dateDebut}} </p>
            <p class="Ddif">à</p>
            <p class="Dfin"> {{affichemedi.dateFin}} </p>
          </div>
          
          <!-- // nom de medicament  -->

          <div class="name_medicament">
            <h3 class="name_med"> {{affichemedi.nomMedicament}} </h3>
          </div>
          
          <!-- // nom de animal concerner  -->

          <div class="name_animal">
            <h3 class="name_ani">  {{affichemedi.nomAnimal}} </h3>
          </div>
          
          <!-- // nombre de frequence  -->

          <div class="nombre_frequence">
            <h3 class="nombre_fre"> {{affichemedi.frequense}} </h3>
          </div>
          
          <!-- // nombre dosage  -->

          <div class="nombre_dosage">
            <h3 class="nombre_dos"> {{affichemedi.dosage}} </h3>
          </div>
          
          <!-- // heure de prise   -->

          <div class="heure_prise">
            <h3 class="heure_pri"> {{affichemedi.reveil}} </h3>
          </div>
          
          <!-- // description de medicament   -->

          <div class="description_medicament">
            <p class="description_med"> 
              {{affichemedi.description}} 
            </p>
          </div>

        </div>

      </div>      

      <!-- ................. Modification de suppression .................. -->

      <div class="edit_delete1">
        <!-- // modification  -->
        <div class="edit">
          <i class="ri-edit-box-line icon_edit"></i>
        </div>
        <!-- // suppression  -->
        <div class="delete">
          <i class="ri-delete-bin-3-line icon_delete"></i>
        </div>
      </div>

    </div>


  </div>
</div>
</ion-content>
