<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- // icon de retour  -->
    <div class="icon_retour" routerLink="/suivi-sante">
      <i class="ri-arrow-left-s-line"></i>
    </div>

    <!-- titre de suivi medicament  -->
    <div class="TitreSuiviMedicament">
      <h3>Suivi santé</h3>
    </div>

    <div class="Modifier">
      <p> <!-- style="color: #008000; font-size: 18px; margin-right: 10px;" -->
        
      </p>
    </div>
  
  </div>

  
  <div class="profil_container" *ngIf="santeconnecte">

    <div class="profil_content" style="position: relative;">

      <!-- // c'est pour l'image  -->
      <div class="image">
        <img [src]="santeconnecte.photo" alt="">
        <!-- <p>
          rendez-vous
        </p> -->
      </div>

      <!-- // information de cette image qui est n otre profil  -->
      <div class="info_profil_vete">

        <!-- // le nom de Vétérinaire -->
        <div class="info_perso">
          <p style="font-weight: 600; letter-spacing: 0.50px; font-size: 14px;">
            Informations génerales
          </p>
        </div>

        <div class="container_name">
          <!-- // le nom de Vétérinaire -->
          <div class="display_info">
            <div class="name">
              <p>
                Nom : 
              </p>
              <p class="info_actu">
                {{ santeconnecte.nom }}
              </p>
            </div>
          
          </div>
          <!-- <pre>{{veteconnect|json}}</pre> -->

          <!-- // le nom de Vétérinaire -->
          <div class="display_info">
            <div class="name">
              <p>
                Race : 
              </p>
              <p class="info_actu">
                {{ santeconnecte.race }}
              </p>
            </div>
          
          </div>

          <!-- // le nom de Vétérinaire -->
          <div class="display_info">
            <div class="name">
              <p>
                Sexe :
              </p>
              <p class="info_actu">
                {{ santeconnecte.prioriteSexe }}
              </p>
            </div>
          
          </div>

          <!-- // le nom de Vétérinaire -->
          <div class="display_info">
            <div class="name">
              <p>
                Âge :
              </p>
              <p class="info_actu">
                {{ santeconnecte.age }}
              </p>
            </div>
          
          </div>

        </div>

      </div>

    </div>

    <!-- ///// Debut de mon bare  -->
    <div class="bare">
      <div class="ligne">
        <!-- ////////////////////// -->
      </div>
    </div>
    <!-- ///// Fin de mon bare  -->
  </div>


</ion-header>

<ion-content *ngIf="santeconnecte">
  
 <div class="containe_contenu">

  <div class="info_title">
    <p style="font-weight: 600; letter-spacing: 0.50px; font-size: 14px; color: rgba(0, 0, 0, 0.753);">
      Historique médical
    </p>
  </div>

  <!-- ////////////////////////////  -->

  <div class="content_g" >
    <!-- /////////////  -->
    <div class="content">

      <!-- // titre  //////////////////////////// VACCINATION -->
      <div class="titre_historique">
        <p>
          Vaccinations
        </p>
      </div>

          
      <div class="titre_information">
        <!-- // titre  -->
        <div class="titre_i">
          <p style="width: 170px;">
            Dates des vaccinations
          </p>
        </div>

        <!-- // information -->
        <div class="information_i">
          <p>
            {{ santeconnecte.dateVaccin }}
          </p>
        </div>
        <!-- ///// -->
      </div>
          

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Les vaccins administrés
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.nomVaccin }}
              </p>
            </div>
            <!-- ///// -->
          </div>
    
      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Nom vétérinaire qui les ont administres
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.nomVeteVaccin }}
              </p>
            </div>
            <!-- ///// -->
          </div>

      <!-- // titre /////////////////////////////// TRAITEMENT -->
      <div class="titre_historique">
        <p>
          Traitements
        </p>
      </div>

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Dates des traitements
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.dateTraitement }}
              </p>
            </div>
            <!-- ///// -->
          </div>

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Les traitements administés  
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.nomTraitement }}
              </p>
            </div>
            <!-- ///// -->
          </div>

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Nom vétérinaire qui ont fait le traitement
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.nomVeteTraitement }}
              </p>
            </div>
            <!-- ///// -->
          </div>
      

      <!-- // titre  ///////////////////////////////// MALADIE -->
      <div class="titre_historique">
        <p>
          Maladie
        </p>
      </div>

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Jour de la maladie
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.dateMaladie }}
              </p>
            </div>
            <!-- ///// -->
          </div>

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Maladie dont animal a souffert
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.nomMaladie }}
              </p>
            </div>
            <!-- ///// -->
          </div>

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Les symptômes
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.nomVeteMaladie }}
              </p>
            </div>
            <!-- ///// -->
          </div>

      <!-- // titre  /////////////////////////////// POID-->

      <div class="titre_historique">
        <p>
          Suivi poids
        </p>
      </div>

      <!-- <ion-list> -->
          
          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 170px;">
                Poids de l'animal
              </p>
            </div>
  
            <!-- // information -->
            <div class="information_i">
              <p>
                {{ santeconnecte.poids }}
              </p>
            </div>
            <!-- ///// -->
          </div>

      <!-- // titre  /////////////////////////////// -->
      <div class="titre_historique">
        <p>
          Description
        </p>
      </div>

      <!-- <ion-list> -->
      <div class="okokoko" style="background-color: #F2F6FA; margin-top: 10px;">

          <div class="titre_information">
            <!-- // titre  -->
            <div class="titre_i">
              <p style="width: 330px; padding-top: 5px ; padding-bottom: 10px; padding-left: 10px;">
                {{ santeconnecte.description }}
              </p>
            </div>
            <!-- ///// -->
          </div>
      </div>

    </div>
    <!-- // content  -->
  </div>

 </div>

</ion-content>