<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- // icon de retour  -->
    <div class="icon_retour" routerLink="/tabs/accueil">
      <i class="ri-arrow-left-s-line"></i>
    </div>

    <!-- titre de suivi medicament  -->
    <div class="TitreSuiviMedicament">
      <h3>Suivi santé</h3>
    </div>

    
    <div class="icon_ajoute" routerLink="/ajouter-suivi-animaux">
      <i class="ri-add-fill"></i>
    </div>
  
  
  </div>

  <!-- // bare de recherche  -->
  <div class="bareRecherche">
    <!-- // recherche  -->
    <div class="recherche">
      <!-- // input  search  -->
      <i class="ri-search-line icon_search"></i>
      <input type="text" class="search" placeholder="Recherche un vétérinaire">
    </div>
  </div>

  <!-- // bare ligne  -->
  <!-- <div class="bare_ligne">
    
    <div class="ligne">

    </div>
  </div> -->

</ion-header>

<ion-content>

  <!-- // container  -->
  <div class="container" style="margin: 0 10px;" *ngFor="let afficheSanteAnimal of listSanteAnimals">
    <!-- // image de animal  -->
    <div class="image_animal">

      <!-- Animal image 1111111111111111 -->
      <div class="content_image">
        <div class="image" routerLink="/detail-animal-sante" routerLink="/detail-animal-sante/{{afficheSanteAnimal.santeId}}">

          <!-- // image  -->
          <img [src]="afficheSanteAnimal.photo" alt="Image de mon animal">

          <!-- // cadre  -->

          <div class="cadre_name">

            <div class="name">
              <p style="font-weight: 600; letter-spacing: 0.50px;">
                Nom :
              </p>
              <p style="padding-left: 5px; font-size: 15px; ">
                {{ afficheSanteAnimal.nom }}
              </p>
            </div>
            <div class="name">
              <p style="font-weight: 600; letter-spacing: 0.50px;">
                Race : 
              </p>
              <p style="padding-left: 5px; font-size: 15px; ">
                {{ afficheSanteAnimal.race }}
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</ion-content>